
  header{
text-align: center;

	background-image:url(Sledge_Head.jpg);

  }
  h1{
    position:  relative;
      align-self: auto;
      font-size:50px;
      color:black;
  }
  h2{
    color:#9BA053;
}
h3{
    color:#9BA053;
}
p{
    color:#539BA0;
}
li{
    color:#539BA0;

}
a{
    color:#A05853;
}
.headpic{
    height:100%;
  width: 100%;
}
.slp{
    position:  relative;
    border-radius:300px;
    height:20%;
    width: 20%;
}
  body{
    background-color: #353535;
    }
    
    